
/* General Layout Set-up
   ========================================================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base Styles 
   ========================================================================== */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
    background: #f2f2f2;
    font-family: 'Work Sans', sans-serif;
}

main {
    flex: 1;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header,
footer,
.welcome {
    text-align: center;
}

header,
footer,
.welcome,
form,
.contact-info,
.newsletter {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Header
   ========================================================================== */

header {
    background: #00142d;
}

.wordmark {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1rem;
}

.logo {
    color: #0669f7;
}

/* Welcome
   ========================================================================== */

.welcome h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.welcome p {
    font-size: 0.90rem;
}

/* Form
   ========================================================================== */

fieldset {
    border: none;
}

legend {
    font-weight: 700;
    font-size: 1.1rem;
}

.contact-info {
    background: #ffffff;
    border-radius: 25px;
}

.form-box,
.form-box-zip,
.newsletter-preference,
.newsletter-format,
.topic {
    display: flex;
    flex-direction: column;
}

.form-box input,
.form-box select, 
.form-box-zip input {
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#zip {
    width: 5rem;
}

::placeholder {
    text-align: right;
}

textarea::placeholder {
    text-align: left;
}

legend,
.form-box input,
.form-box select, 
.form-box-zip input,
.newsletter-preference,
.newsletter-format {
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.25rem;
}

.form-box input,
.form-box select, 
.form-box-zip input {
    background: #ffffff;
    outline: none;
    border: none;
    border-bottom: 1px solid #00142d;;
}

.form-box input:focus,
.form-box select:focus,
.form-box-zip input:focus {
    border: 1px solid #0669f7;
    border-radius: 25px;
    transition: all 0.1s linear;
}

.form-group input:focus,
textarea:focus,
button:focus {
    outline: 1px solid #0669f7;
    transition: all 0.1s linear;
}

.form-box label,
.form-box-zip label {
    color:  #0669f7;
} 

.form-group,
.topic textarea {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.form-group input {
    margin-right: 0.5rem;
}

.topic textarea {
    height: 6rem;
    border: none;
    padding: 1rem;
}

.signup button {
    width: 100%;
    padding: 1rem;
    font-weight: 700;
    background-color:  #0669f7;
    color: #ffffff;
    border: none;
    border-radius: 25px;
}

/* Footer
   ========================================================================== */

footer {
    background: #3a3b3c;
}

.copyright {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 0.75rem;
}

/* Media Queries 
   ========================================================================== */

@media (min-width: 768px) {
    .container,
    .contact-info,
    .newsletter {
        max-width: 500px;
    }

    .contact-info,
    .newsletter {
        margin: 0 auto;
    }

    .welcome p {
        font-size: 0.85rem;
    }

    .form-box,
    .form-box-zip {
        flex-direction: row;
    }

    .form-box label,
    .form-box-zip label {
        flex-basis: 30%;
    }

    .form-box input,
    .form-box select {
        flex-basis: 70%;
    }
}



